<h1>
    EXHIBITION
</h1>
<ul class="header-member">
    <li class="header-member-object">
        Sign in
    </li>
    <li class="header-member-object">
        Sign up
    </li>
    <li class="header-member-shopcar">
        <a href="#">
            <span class="material-icons">
            confirmation_number
            </span>
        </a>
    </li>
</ul>